<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uts_pbp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.uts_pbp.notification.NotificationActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTS_PBP">
        <activity
            android:name="com.example.uts_pbp.NoteAddEditActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.NoteActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.AddEditActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.LatihanActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.geolocation.GeoActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.TentangActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.content.TampilDataAlphabet"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.GreenActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.RedActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.uts_pbp.BlueActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.uts_pbp.notification.NotificationReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>